<%= form_with(model: admin_welcome) do |form| %>
  <% if admin_welcome.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin_welcome.errors.count, "error") %> prohibited this admin_welcome from being saved:</h2>

      <ul>
        <% admin_welcome.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :index, style: "display: block" %>
    <%= form.text_field :index %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
