<p style="color: green"><%= notice %></p>

<%= render @orders %>

<div>
  <%= link_to "Edit this order", edit_order_path(@orders) %> |
  <%= link_to "Back to orders", orders_path %>

  <%= button_to "Destroy this order", @orders, method: :delete %>
</div>
